<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.listeners.Listeners" />
	</listeners>
	<test name="Login">
		<classes>
			<class name="com.cases.Login" />
		</classes>
	</test>
	<test name="ValidateFooter">
		<classes>
			<class name="com.cases.ValidateFooter" />
		</classes>
	</test>
	<test name="ValidateTitle">
		<classes>
			<class name="com.cases.ValidateTitle" />
		</classes>
	</test>
	<test name="BookAppointment">
		<classes>
			<class name="com.cases.BookAppointment" />
		</classes>
	</test>
</suite>
